<div class="container-fluid">
  <div class="row mt-5 flex-column align-items-center justify-content-center">
    <h1 class="mb-0">Welcome to Review Site</h1>
    <%= render partial: 'partials/auth' %>
  </div>
</div>