<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <h1>Hello</h1>
  </a>
  <ul class="nav justify-content-end d-flex align-items-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Reviews</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Post Review</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">My Reviews</a>
    </li>
  </ul>
</nav>