<div class="container-fluid">
  <div class="row height-100vh">
    <div class="d-flex flex-column justify-content-center col bg-light overflow-scroll-y pt-4 pb-4">
      <%= render partial: 'partials/reviews' %>
    </div>
    <div class="d-flex flex-column justify-content-center col bg-dark">
      <%= render partial: 'partials/new' %>
    </div>
  </div>

  <div class="review-container content-container row bg-light">
    <div class="col">
      <div class="top-bar d-flex">
        <h1 class="col">Review</h1>
        <button type="button" class="close">
          <span>&times;</span>
        </button>
      </div>
      <div class="review"></div>
    </div>
  </div>
</div>