<div class="row height-100vh">
  <div class="d-flex align-items-center justify-content-center left col bg-light">
    <%= link_to "Read reviews", reviews_path, id: 'read-reviews', class: 'h1 text-dark mb-0' %>
  </div>
  <div class="d-flex align-items-center justify-content-center right col bg-dark">
    <%= link_to "Write a review", new_review_path, id: 'write-reviews', class: 'h1 text-light mb-0' %>
  </div>
  <div class="content height-100vh col position-absolute">
    <h1>Reviews</h1>

  </div>
</div>