h2 {
  color: red;
}

@keyframes opacity {
  0% {opacity: 100%;}
  100% {opacity: 0;}
}

.content {
  background: red;
  left: -100%;
}

.animate-text {
  animation: opacity 1s ease-in-out forwards;
}