@keyframes opacity {
  0% {opacity: 100%;}
  100% {opacity: 0;}
}

.animate-text {
  animation: opacity 2s ease-in-out forwards;
}

.review-container,
.author-reviews-container {
  height: 100vh;
  position: absolute;
  left: 15px;
  top: 0;
  visibility: hidden;
  width: 100%;
}

.show {
  visibility: visible;
  z-index: 1;
}